<div class="baralhos">
  <section class="secao">
    <div class="w-full flex justify-content-between align-items-center mb-4 flex-wrap gap-3">
      <div>
        <h1 class="m-0 text-3xl font-bold">Meus Baralhos</h1>
        <p class="m-0 text-xl text-gray-600">
          Gerencie e estude seus baralhos de flashcards
        </p>
      </div>
      <div>
        <button
          pButton
          icon="pi pi-plus"
          label="Novo baralho"
          class="p-button-sm p-button-primary"
        ></button>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 sm:col-6 lg:col-4 xl:col-4">
        <app-card></app-card>
      </div>
      <div class="col-12 sm:col-6 lg:col-4 xl:col-4">
        <app-card></app-card>
      </div>
      <div class="col-12 sm:col-6 lg:col-4 xl:col-4">
        <app-card></app-card>
      </div>
      <div class="col-12 sm:col-6 lg:col-4 xl:col-4">
        <app-card></app-card>
      </div>
      <div class="col-12 sm:col-6 lg:col-4 xl:col-4">
        <app-card></app-card>
      </div>
      <div class="col-12 sm:col-6 lg:col-4 xl:col-4">
        <app-card></app-card>
      </div>
    </div>
  </section>
</div>
