<div class="card">
  <section class="conteudo">
    <div class="flex justify-content-between">
      <span class="tag">3 cartões</span>
      <span class="pi pi-book"></span>
    </div>
    <div>
      <h3 class="mb-1">Matemática Básica</h3>
      <span class="text-sm text-gray-500">Conceitos fundamentais de matemática</span>
      <p-divider type="solid" />
      <div class="flex justify-content-between">
        <span class="text-xs text-gray-500">Criado em: 16/03/2025</span>
        <span class="text-xs text-gray-500">Último estudo em: 16/03/2025</span>
      </div>
    </div>
  </section>
</div>
